entrypoint = "main.py"
modules = ["python-3.10, discord.py, discord.ext"]


hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "gce"
ignorePorts = true

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 46985080
mode = "sequential"

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "python3"
